  <nav>
  <div class="brand" tabindex="0" aria-label="Homepage">
<button id="toggleBtn">☰ </button>
<div class="sidebar" id="sidebar">
  
    <a href="index.html"><i class="fas fa-home me-2"></i> Dashboard</a>
    <a href="profile.html"><i class="fas fa-user me-2"></i> Profile</a>
<a href="my booking.html"><i class="fas fa-book "></i> My bookings</a>


    <a href="notification.html"><i class="fas fa-bell me-2"></i> Notifications</a>
    <a href="favourote.html"><i class="fas fa-heart me-2"></i> Favorites</a>
    <a href="feeback.html"><i class="fas fa-comment-dots me-2"></i> Feedback</a>
    <a href="#"><i class="fas fa-sign-out-alt me-2"></i> Logout</a>
  </div>
  </div>
  <div class="nav-links">
    <ul id="nav-menu" role="menu" aria-label="Primary navigation">
      <li><a href="index.html" role="menuitem" tabindex="1">Home</a></li>
      <li><a href="about.html" role="menuitem" tabindex="1">About</a></li>
<li class="nav-item dropdown">
      <a class="nav-link dropdown-toggle" href="#" role="button" aria-expanded="false">Services</a>
      <ul class="dropdown-menu"  style="display: grid;gap: 0%;padding-left: 0%;" >
        <li><a class="dropdown-item"  href="plumberlink.html" >Plumber</a></li>
        <li><a class="dropdown-item" href="carpentlink.html">Carpenter</a></li>
        <li><a class="dropdown-item" href="painterlink.html">Painter</a></li>
        <li><a class="dropdown-item" href="tilerlink.html">Tier</a></li>
        <li><a class="dropdown-item" href="welderlink.html">Welder</a></li>
                <li><a class="dropdown-item" href="electrilink.html">Electrician</a></li>
      </ul>
</li>
  
      <li><a href="contact.html" role="menuitem" tabindex="1">Contact us</a></li>
 <!--<a href="loginpage\login.html" class="registration-btn" aria-label="Login" title="Login" tabindex="0" role="button">-->
    </ul>
         <a href="login.html"><i class="fa-solid fa-user" style="color: white;"></i></a>

    

    
    <!-- <a href="loginpage\login.html" class="registration-btn" aria-label="Login" title="Login" tabindex="0" role="button">
     <i class="fa-solid fa-right-to-bracket" style="color: white;"></i>
    </a>  -->
    <div class="hamburger" id="hamburger" aria-label="Toggle navigation menu" tabindex="0" role="button">
      <div></div>
      <div></div>
      <div></div>
    </div>
  </div>
</nav>